/* FONT SIZE (px)
  11 / 13 / 16 / 19 / 23 / 28 / 33 / 40 / 48 / 

SPACING SYSTEM(px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
  --main-color: #4dabf7;
  --main-lightcolor: #71bcf9;
  --main-darkcolor: #3e89c6;

  --primary-darkcolor: #0f2231;
  --secondary-darkcolor: #27567c;

  --primary-lightcolor: #edf7fe;
  --primary-lightcolor-transparent: rgba(236, 246, 254, 0.95);
  --secondary-lightcolor: #a6d5fb;

  --black-transparent: rgba(0, 0, 0, 0.9);
  --white-transparent: rgba(254, 254, 254, 0.8);
  --shadow-color: #4dabf734;

  --light-gray: #ccc;
  --gray-3: #333;
  --gray-5: #555;
  --gray-9: #999;

  --white: #fff;
}

/* THEME CHANGER */
.theme {
  cursor: pointer;
}

.sun,
.dark .moon {
  display: none;
}

.dark .sun {
  display: inline;
}

/* 0-f, 1-e 2-d 3-c 4-b 5-a 6-9 7-8 */
body.dark {
  /* Main Colors */
  --main-color: #4dabf7;
  --main-lightcolor: #3e89c6;
  --main-darkcolor: #71bcf9;

  --primary-darkcolor: #dbeefd;
  --secondary-darkcolor: #a6d5fb;

  --primary-lightcolor: #0f2231;
  --primary-lightcolor-transparent: rgba(27, 46, 66, 0.95);
  --secondary-lightcolor: #27567c;

  --black-transparent: rgba(254, 254, 254, 0.9);
  --white-transparent: rgba(0, 0, 0, 0.8);

  --shadow-color: #4dabf734;

  --light-gray: #444;
  --gray-3: #eee;
  --gray-5: #aaa;
  --gray-9: #666;

  --white: #081119;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 6px 6px var(--shadow-color);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--gray-3);
  font-weight: 400;
  background-color: var(--white);
}

.grid {
  display: grid;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
  gap: 4.8rem;
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

.sub-title {
  color: var(--main-darkcolor);
  text-align: center;
  font-size: 2.3rem;
  font-weight: 500;
}

.title {
  color: var(--primary-darkcolor);
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2.4rem;
}

.button {
  font-family: inherit;
  border-radius: 1rem;
  padding: 0.8rem 1.6rem;
  font-size: 1.9rem;
  letter-spacing: 1px;
  border: 1px solid var(--main-color);
  cursor: pointer;
  background-color: var(--white);
  color: var(--gray-3);
}

.btn-hover:hover {
  background-color: var(--main-darkcolor) !important;
}

.btn-right {
  justify-self: start;
}

.btn-left {
  justify-self: end;
}

.main section + section {
  margin-top: 8rem;
}

.mb-s {
  margin-bottom: 2.4rem;
}

.shadow:hover {
  box-shadow: 0 8px 8px 8px var(--shadow-color);
}

input::placeholder,
textarea::placeholder {
  color: var(--light-gray);
}

/****************/
/* Header */
/****************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 1.9rem;
  padding: 1.6rem 3.2rem;
  background-color: var(--primary-lightcolor);
}

section + section {
  opacity: 1;
  transition: transform 1s, opacity 1s;
}

.hidden {
  opacity: 0;
  transform: translateY(100px);
  transition: all 2s;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--gray-3);
}

a:hover,
a:active {
  color: var(--main-color);
}

.logo {
  font-size: 2.3rem;
  font-weight: 700;
}

.logo-span {
  color: var(--main-color);
  text-shadow: 0 0 10px var(--main-color);
}

.btn {
  padding: 0.8rem 1.6rem;
  display: inline-block;
  background-color: var(--main-color);
  color: var(--white) !important;
  border-radius: 11px;
}

.left-active .btn-left {
  background-color: var(--main-color);
  color: var(--white);
}

.right-active .btn-right {
  background-color: var(--main-color);
  color: var(--white);
}

.right-active .about-card,
.left-active .education-card,
.close,
.nav-open .bar {
  display: none;
}

.bar {
  display: none;
  font-size: 2.2rem;
}

.nav-open ul {
  background-color: var(--primary-lightcolor-transparent);
  border-radius: 9px;
  box-shadow: 0 0 10px 5px var(--shadow-color);
  padding: 40px;
  flex-direction: column;
  position: absolute;
  top: 0%;
  right: 3%;
}

.nav-open nav {
  display: flex;
}

.nav-open .close {
  display: block;
  font-size: 2.5rem;
  position: absolute;
  right: 5%;
  top: 3%;
}

/* STICKY NAVIGATION */

.sticky {
  position: sticky;
  top: 0;
  background-color: var(--white-transparent);
  z-index: 1;
  box-shadow: 0 8px 20px -20px var(--black-transparent);
  backdrop-filter: blur(8px);
}

/****************/
/* MAIN */
/****************/

.hero {
  background-color: var(--primary-lightcolor);
  padding: 6.4rem 0 9.6rem;
  margin-bottom: 4.8rem;
}

.container {
  max-width: 120rem;
  padding: 1.6rem 3.2rem;
  margin: auto;
}

.hero h6 {
  text-transform: uppercase;
  font-size: 1.9rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 1.6rem;
}

.hero h1 {
  font-size: 4.8rem;
}

h1 + h1 {
  margin-top: 1.2rem;
}

.hero-heading {
  margin-bottom: -1.5rem;
}

.hero-text {
  align-self: center;
}

.hero-img {
  display: flex;
  justify-content: center;
}

.hero-img img {
  width: 80%;
  border-radius: 50%;
  box-shadow: 0 0 8px 8px var(--shadow-color);
  filter: drop-shadow(0 0 8px #3e89c6);
  transition: all 0.3s ease-in-out;
  object-fit: cover;
}

.hero-img img:hover {
  transform: scale(1.05);
}

.hero p {
  font-size: 1.6rem;
  margin: 2.4rem 0;
}

.resume-container {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.6rem;
}

.resume-container .project {
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid;
}

.resume-container .project:hover {
  border-bottom: 1px solid transparent;
}

.social-icons {
  margin-top: 2.4rem;
  display: flex;
  gap: 1.2rem;
}

.social-icons i {
  font-size: 2.8rem;
  border: 0.2rem solid var(--main-color);
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--white);
  color: var(--main-color);
}

.social-icons i:hover {
  box-shadow: 0 0 5px 5px var(--main-lightcolor);
  cursor: pointer;
  color: var(--white);
  background-color: var(--main-color);
}

/****************/
/* About */
/****************/

.about-card,
.education-card {
  background-color: var(--primary-lightcolor);
  padding: 3.2rem 4rem;
  border-radius: 11px;
}

.about-card h4,
.education-card h4 {
  font-size: 1.9rem;
  margin-bottom: 0.6rem;
}

.about-card p,
.education-card p {
  font-size: 1.6rem;
}

.education-card h6 {
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
  color: var(--gray-9);
  font-weight: 500;
}

/****************/
/* Feature */
/****************/

.skill-card {
  background-color: var(--primary-lightcolor);
  padding: 3.2rem;
  border-radius: 11px;
}

.skill-logo {
  max-width: 15%;
  margin-bottom: 1.6rem;
}

.skill-logo img {
  width: 100%;
}

.skill-card h4 {
  font-size: 2.8rem;
  margin-bottom: 1.2rem;
}

.skill-card p {
  font-size: 1.9rem;
}

/****************/
/* Project */
/****************/

#project {
  margin-bottom: 12.8rem;
}

.project h2 {
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.project p {
  font-size: 1.6rem;
}

.project .pizza h2 a {
  color: #eab308;
}

.project .omnifood h2 a {
  color: #e67e22;
}

.project .countries h2 a {
  color: var(--gray-3);
}

.project .lisbon h2 a {
  color: #087f5b;
}

.project .hamburger h2 a {
  color: #492118;
}

/* vertical */
.project-image-container {
  display: flex;
  align-items: center;
}

/* horizontal */
.project-image-container a {
  display: flex;
  justify-content: center;
}

.project-image-container img {
  width: 60%;
  transition: all 0.3s ease-in-out;
}

.project a img:hover {
  transform: scale(1.2);
}

/* Lazy Images */
.blur {
  filter: blur(8px);
}

/****************/
/* Contact */
/****************/

.contact {
  background-color: var(--primary-lightcolor);
  padding: 4.8rem 6.4rem 12.8rem;
  margin-bottom: 0;
}

.contact form {
  display: flex;
  flex-direction: column;
}
form input,
form textarea {
  padding: 1.2rem;
  font-size: 1.9rem;
  border-radius: 11px;
  font-family: inherit;
  margin-bottom: 1.2rem;
  border: none;
  background-color: var(--white);
  width: 100%;
  color: inherit;
}

textarea {
  resize: none;
  width: 100%;
}

.contact .information {
  background-color: var(--white);
  border-radius: 11px;
}

.information {
  width: 100%;
  padding: 3.2rem 4rem;
}

.information h3 {
  font-size: 3.3rem;
  font-weight: 600;
}

.information h5 {
  font-size: 1.6rem;
  font-weight: 500;
}

.information p {
  font-size: 1.9rem;
  color: var(--gray-9);
}

/****************/
/* Footer */
/****************/

.footer {
  background-color: var(--primary-lightcolor);
}

.footer p {
  border-top: 1px solid var(--gray-9);
  padding: 2.4rem;
  text-align: center;
  font-size: 1.6rem;
  color: var(--gray-5);
}
